*{
    margin:0;
    padding:0;
    border:border-box;
font-family: 'Hedvig Letters Sans', sans-serif;

}

/* Navbar */

#navbar{
    height:60px;
    width:100vw;
    background:transparent;
    border:2px solid black;
    display:flex;
    align-items:center;
    position:fixed;
    z-index:-1;
    top:0;
    left:0;
}
#navbar ul{
    list-style:none;
    display:flex;
    width:40%;
    justify-content:space-evenly;
    margin-left:850px;
}
#navbar ul li a{
    text-decoration:none;
    color:white;
}

/* Background */

#navbar::before{
    content:"";
    position:absolute;
    height:700px;
    width:100%;
    left:0;
    top:0;
    background-image:url("/img/img.jpg");
    background-size:cover;
    z-index:-1;
}

/* Login page */

#wrapper{
    display:flex;
    margin:150px auto;
    height: 321px;
    width: 288px;
    border:1px solid white;
       border-radius:7px;
       background:transparent;
       color:white;
       padding:20px;
       
}

.text{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 30%;
    font-size:2rem;
    font-weight:600;

}


#wrapper a{
    text-decoration : none;
    color:white;
}

.input-box{
    display:flex;
}
.input-box input{
    color:white;
    height: 30px;
    border-radius:25px;
    width: 252px;
    margin-bottom:20px;
    border:1px solid white;
    background:transparent;
    margin-left:16px;
    padding:5px;
   
}
 #wrapper p, a{
    font-size:0.9rem;
 }
#btn{
    width: 240px;
    height: 38px;
    margin: 12px 0;
    border-radius: 25px;
    margin-left:25px;
     cursor:pointer;
}

.remember-me{
    display:flex;
    margin-left:25px;
}
.remember-me a {
    margin-left: 38px;
}
.sign-up{
    display:flex;
    margin-left:50px;
}
.sign-up a{
     font-weight:600;
} 
/* Utility classes */

 .center{
    text-align:center;
 }
