*{
    margin:0;
    padding:0;
    border:border-box;
}

/* Navbar */

#navbar{
    height:60px;
    width:100vw;
    background:transparent;
    border:2px solid black;
}
#navbar ul{
    list-style:none;
    display:flex;
    width:60%;
    justify-content:space-evenly;
}
#navbar ul li a{
    text-decoration:none;
    color:white;
}

/* Background */

#navbar::before{
    content:"";
    position:absolute;
    height:700px;
    width:100%;
    left:0;
    top:0;
    background-image:url("/img/img.jpg");
    background-size:cover;
    z-index:-1;
}

/* Login page */

#wrapper{
    display:flex;
    margin:150px auto;
    height: 321px;
    width: 288px;
    border:1px solid white;
       justify-content:center;
       border-radius:7px;
       background:transparent;
       color:white;
       padding:5px;
}

.text{
    height:20%;
}

#wrapper a{
    text-decoration : none;
    color:white;
}

.input-box input{
    color:white;
    height: 32px;
    border-radius:25px;
    width: 240px;
    margin-bottom:20px;
    border:1px solid white;
    background:transparent;
}
#btn{
    width:240px;
    height:32px;
}
/* Utility classes */

 .center{
    text-align:center;
 }
